@font-face {
  font-family: Brandon;
  src: url('./view/global/assets/fonts/Brandon_light.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: Brandon;
  src: url('./view/global/assets/fonts/Brandon_bld.otf') format('opentype');
  font-weight: bold;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Brandon;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#root {
  position: relative;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
